.git
.github
.gradle
.idea
.kotlin
.omc
.omx
build/*
!build/libs
!build/libs/*.jar
*.iml
.env
*.log
src/main/resources/*firebase-adminsdk*.json
src/main/resources/google-services.json
src/main/resources/GoogleService-Info.plist
